<!DOCTYPE html>
<html lang="fa">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="./css/bootstrap/dist/css/bootstrap.css" />
    <script src="./css/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://parswebdesigners.github.io/icon/css/all.min.css"/>
<link rel="preload" as="font" type="font/woff" crossorigin href="https://parswebdesigners.github.io/font/iransansxv.woff" />
<link rel="preload" as="font" type="font/woff2" crossorigin href="https://parswebdesigners.github.io/font/iransansxv.woff2" />  
<link rel="preload" as="font" type="font/ttf" crossorigin href="https://parswebdesigners.github.io/font/hack.ttf" />
<link rel="preload" as="font" type="font/woff" crossorigin href="https://parswebdesigners.github.io/font/staticfonts/iransansx-bold.woff" />
<link rel="preload" as="font" type="font/woff" crossorigin href="https://parswebdesigners.github.io/font/staticfonts/iransansx-regular.woff" />
<link rel="stylesheet" href="https://parswebdesigners.github.io/font/font.css"/>
    <link rel="stylesheet" href="./css/global.css">
</head>

<body dir="rtl">
    <nav class="container-fluid p-2">
        <section class="row text-center">
            <section class="col">
                <a class="fas fa-home" href="index.html"></a>
            </section>
            <section class="col">
                <a class="fas fa-video" href="video.html"></a>
            </section>
            <section class="col">
                <a class="fas fa-tv" href="seri.html"></a>
            </section>
            <section class="col">
                <a class="fas fa-music" id="slct" href="music.html"></a>
            </section>
        </section>
    </nav>
    <br />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 p-2" dir="ltr">
        <div class="col" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="details(this)" dir="rtl">
            <div id="card" class="card">
                <img src="./img/music/1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">از ما نیستی</h5>
                        <p class="card-text my-4">شایع</p>
                </div>
                <audio src="./?>"></audio>
            </div>
            <b class="d-none">year</b>
            <span class="d-none">text</span>
        </div>

        <div class="col" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="details(this)" dir="rtl">
            <div id="card" class="card">
                <img src="./img/music/2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Without Me</h5>
                        <p class="card-text my-4">Halsey</p>
                </div>
                <audio src="./music.mp3"></audio>
            </div>
            <b class="d-none">2020</b>
            <span class="d-none">Found you when your heart was broke
                I filled your cup until it overflowed
                Took it so far to keep you close (keep you close)
                I was afraid to leave you on your own
                I said I'd catch you if you fall
                And if they laugh, then fuck 'em all (all)
                And then I got you off your knees
                Put you right back on your feet
                Just so you could take advantage of me
                Tell me how's it feel sittin' up there
                Feeling so high but too far away to hold me
                You know I'm the one who put you up there
                Name in the sky
                Does it ever get lonely?
                Thinking you could live without me
                Thinking you could live without me
                Baby, I'm the one who put you up there
                I don't know why (yeah, I don't know why)
                Thinking you could live without me
                Live without me
                Baby, I'm the one who put you up there
                I don't know why (I don't know why, yeah yeah)
                Gave love 'bout a hundred tries (hundred tries)
                Just running from the demons in your mind
                Then I took yours and made 'em mine (made 'em mine)
                I didn't notice 'cause my love was blind
                Said I'd catch you if you fall (fall)
                And if they laugh, then fuck 'em all (all)
                And then I got you off your knees
                Put you right back on your feet
                Just so you can take advantage of me
                Tell me how's it feel sittin' up there
                Feeling so high but too far away to hold me
                You know I'm the one who put you up there
                Name in the sky
                Does it ever get lonely?
                Thinking you could live without me
                Thinking you could live without me
                Baby, I'm the one who put you up there
                I don't know why (yeah, I don't know why)
                Thinking you could live without me
                Live without me
                Baby, I'm the one who put you up there
                I don't know why, yeah
                You don't have to say just what you did
                I already know (I know)
                I had to go and find out from them
                So tell me how's it feel (oh-woah)
                Tell me how's it feel sittin' up there
                Feeling so high but too far away to hold me
                You know I'm the one who put you up there
                Name in the sky
                Does it ever get lonely?
                Thinking you could live without me
                Thinking you could live without me
                Baby, I'm the one who put you up there
                I don't know why (yeah, I don't know why)</span>
        </div>

        <div class="col" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="details(this)" dir="rtl">
            <div id="card" class="card">
                <img src="./img/music/3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">این منم</h5>
                        <p class="card-text my-4">شایع</p>
                </div>
                <audio src="./?>"></audio>
            </div>
            <b class="d-none">year</b>
            <span class="d-none">text</span>
        </div>

        <div class="col" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="details(this)" dir="rtl">
            <div id="card" class="card">
                <img src="./img/music/4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">The Box</h5>
                        <p class="card-text my-4">Roddy Rich</p>
                </div>
                <audio src="./?>"></audio>
            </div>
            <b class="d-none">year</b>
            <span class="d-none">text</span>
        </div>

        <div class="col" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="details(this)" dir="rtl">
            <div id="card" class="card">
                <img src="./img/music/5.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Positions</h5>
                        <p class="card-text my-4">Ariana Grande</p>
                </div>
                <audio src="./?>"></audio>
            </div>
            <b class="d-none">year</b>
            <span class="d-none">text</span>
        </div>

    </div>

    <br>
    <!-- Modal -->
    <div class="ex modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="fas fa-times" data-bs-dismiss="modal" onclick="closemodal()" aria-label="Close"></button>
                    <h4 class="modal-title" id="exampleModalLabel">name</h4>
                </div>
                <div class="modal-body">
                    <img src="" id="img-modal" class="img-fluid w-100 rounded" alt="">
                    <div class="container">
                        <div class="row p-4 mx-5 text-center">
                            <div class="col m-0 p-0">
                                <a id="down" class="fas fa-cloud-download-alt plyrbtn" href="" download></a>
                            </div>
                            <div class="col m-0 p-0">
                                <span style="cursor: pointer;">
                                    <i class="far fa-play-circle plyrbtn" id="play" onclick="play(this)"></i>
                                    <i id="pause" class="far fa-pause-circle plyrbtn d-none" onclick="pause(this)"></i>
                </svg>
                <audio id="song" src=""></audio>
            </span>
                            </div>
  
                        </div>
                        <div class="mx-5 text-center">
                            <span class="currentTime" style="float: left;"></span><br>
                            <input type="range" min="0" max="" value="0" onchange="changeProgress()" id="progress-bar">
                            <br><span class="durationTime" style="float: right;"></span>
                            <span style="clear: both;"></span>
                            <br><br>
                        </div>
                    </div>
                    <div style="text-indent: 25px;margin: 3% 1% 10% 1%;"><b>سال انتشار: </b><b id="yearplace" style="font-family:eng;"></b></div>
                    <i class="d-block text-center">متن موزیک</i>
                    <div id="textplace" class="text-center">
  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end modal-->

    <img id="wave" src="./img/wave.svg">
    <footer class="container-fluid pb-0">
        <div class="row">
                <p>&copy; هر نوع کپی برداری بدون درج مستقیم لینک و نام این گروه غیر مجاز است.
                </p>
                <br>
            </div>
    </footer>
</body>

<script src="./js/main.js"></script>
</html>