@font-face {
    font-family: en;
    src: url("./global/Hack-Regular.ttf");
}
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like{
    font-family: en;
    line-height: 150%;
}

.CodeMirror{
    opacity: .9;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: en;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
}

#particles-js {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-color: #151019;
}

#editorkey {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 50;
    font-size: 150%;
    font-weight: bold;
    color: #ffd700;
    background-color: rgba(78, 78, 78, 0.5);
    text-shadow: 1px 1px #000, -1px -1px #000;
    border: none;
    border-radius: 3px;
    padding: 3%;
    cursor: pointer;
}

.cm-tab {
    background-image: url("../img/g16.png");
    background-position: right;
    background-repeat: no-repeat;
}

#menuicon {
    background-color: #dfe1df;
    position: fixed;
    top: calc(50% - 25px);
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 5px 0 0 5px;
    padding: 10px 3px;
    z-index: 51;
    transition: .5s;
    cursor: pointer;
}


#menuicon div {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menuicon div>div {
    background-color: #151019;
    width: 40px;
    height: 7.5px;
    border-radius: 5px;
}

#top {
    transform: rotate(-50deg);
    transition: .5s;
}

#bottom {
    transform: rotate(50deg);
    transition: .5s;
}


#menu {
    width: 0px;
    height: 100%;
    position: fixed;
    display: inline-block;
    background-color: hsl(120, 3%, 88%);
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: .5s;
    font-family: fa;
    direction: rtl;
    z-index: 51;
    border-radius: 5px 0 0 5px;
    font-family: en;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */

#menu::-webkit-scrollbar {
    display: none;
}

#menu p {
    font-size: 25px;
    margin-right: 20px;
    margin-bottom: 0;
    color: #151019;
    padding: 5px;
    font-weight: bold;
}

#menu select {
    font-size: 16px;
    margin-right: 10px;
    width: 150px;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

#menu select optgroup {
    background-color: #dfe1df;
    padding: 5px;
    margin: 5px;
}

#menu select option {
    padding: 4px;
}

#menu>p:first-child {
    display: none;
}

#pannel {
    padding-right: 2%;
    width: 98%;
}

#second {
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
    width: 50px;
    margin: 5px;
}

#show {
    padding-right: 2%;
    width: 95%;
    margin-top: 2%;
    height: 150px;
    overflow-y: auto;
}

#show::-webkit-scrollbar {
    width: 5px;height: 5px;
    background-color: #151019;
    border-radius: 10px;
}

#show::-webkit-scrollbar-thumb {
    background-color: #dfe1df;
    border-radius: 5px;
    border: 1px solid #88c8ff;
}
.pointer{
    cursor: pointer;
}
.pointer:hover{
    color: #88c8ff;
}
#full{
    margin-top: 20%;
    cursor: pointer;
}
#aspect{
    margin-top: 20%;
    font-size: 20px !important;
    text-align: center;
    cursor: pointer;
    margin-right: 0 !important;
}
#full:hover,#aspect:hover{
    color: #88c8ff;
}
@media only screen and (min-width:1440px){
    #menuicon{
        width: 100px;height: 100px;
        top: calc(50% - 50px);
    }
    #menuicon div>div {
        background-color: #151019;
        width: 70px;
        height: 10px;
        border-radius: 5px;
    }
    #menu p{
        font-size: 50px;
    }
    #menu select{
        font-size:30px;
        width: 250px;
    }
    [type=text]{
        width: 250px;height: 30px;
    }
    #aspect{font-size: 40px !important;}
}