* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f1f1;
  color: #116981;
}

header {
  margin: 5% auto;
  text-align: center;
  width: 70%;
  font-weight: bold;
  font-variation-settings: "wght" 900, "dots" 7;
}
@media screen and (max-width: 850px) {
  header {
    width: 90%;
  }
}
header span {
  display: inline-block;
  width: 2%;
}
header p {
  font-size: 105%;
}
header h1 {
  color: #16c79a;
  margin-bottom: 4%;
  background-color: #19456b;
  padding: 3%;
  border-radius: 40px 40px 5px 5px;
}
header div > p {
  display: inline-block;
}
header div > p:nth-child(1) {
  margin-left: 2.5%;
  padding: 0;
}
header div > p:nth-child(2) {
  margin-right: 2.5%;
  padding: 0;
}
header div,
header p {
  padding: 2%;
  margin: 1%;
}
header section {
  width: 70%;
  margin: auto;
}

hr {
  border: 0;
  border-top: 3px solid #19456b;
  padding: 0;
}

h2 {
  background-color: #19456b;
  color: #f8f1f1;
  border-radius: 40px 5px 5px 5px;
  margin: 5% 0;
  padding: 1.5%;
  text-indent: 3.5%;
}

.cont {
  width: 70%;
  margin: 5% auto;
}
@media screen and (max-width: 850px) {
  .cont {
    width: 90%;
    margin: 20% auto;
  }
}

.cont > *:not(h2) {
  margin: 5% 10%;
}
@media screen and (max-width: 850px) {
  .cont > *:not(h2) {
    margin: 10% 5%;
  }
}

ul {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 30px;
  justify-content: space-evenly;
  list-style-type: none;
}
@media screen and (max-width: 850px) {
  ul {
    grid-template-columns: auto;
  }
}

ol {
  list-style-type: disc;
  margin-top: 2%;
}
ol li {
  margin: 1%;
}
@media screen and (max-width: 850px) {
  ol li {
    margin: 3%;
  }
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: 20px;
}
@media screen and (max-width: 850px) {
  progress[value] {
    width: 250px;
  }
}

progress[value]::-webkit-progress-bar {
  background-color: #f8f1f1;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 29, 0, 0.1) inset, -1px -2px 5px rgba(0, 29, 0, 0.1) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #16c79a;
  border-radius: 5px;
}

progress::-moz-progress-bar {
  background-color: #16c79a;
  border-radius: 5px;
}

progress[value] {
  background-color: #f8f1f1;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 29, 0, 0.1) inset, -1px -2px 5px rgba(0, 29, 0, 0.1) inset;
  border: none;
}

.card {
  color: #19456b;
  border: 2px dashed #19456b;
  padding: 2%;
  border-radius: 10px;
}
.card a {
  color: #19456b;
  transition: 0.1s;
  display: inline-block;
  margin-top: 5%;
}
.card a:hover {
  color: #16c79a;
}
.card img {
  border-radius: 50%;
  width: 100%;
}
.card .describ {
  margin-top: 2%;
  color: #116981;
  text-indent: 3%;
  padding: 2%;
}

.clear {
  clear: both;
}

.imgTitleLink {
  display: flex;
  align-items: center;
}

.card_img {
  width: 20%;
}

.card_title {
  padding: 2%;
}

#social > a img {
  min-width: 50px;
  max-width: 100px;
  width: 13%;
}

@media screen and (max-width: 850px) {
  .url {
    display: none;
  }
}

@media screen and (min-width: 850px) {
  .urltxt {
    display: none;
  }
}

.wk {
  display: inline-block;
  text-align: center;
  width: 100px;
  border-radius: 5px;
  padding: 10px;
  border: 2px dashed #19456b;
  color: #19456b;
}
.wk img {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
