<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="https://parswebdesigners.github.io/icon/css/all.min.css"/>
<link rel="preload" as="font" type="font/woff" crossorigin href="https://parswebdesigners.github.io/font/iransansxv.woff" />
<link rel="preload" as="font" type="font/woff2" crossorigin href="https://parswebdesigners.github.io/font/iransansxv.woff2" />  
<link rel="preload" as="font" type="font/ttf" crossorigin href="https://parswebdesigners.github.io/font/hack.ttf" />
<link rel="preload" as="font" type="font/woff" crossorigin href="https://parswebdesigners.github.io/font/staticfonts/iransansx-bold.woff" />
<link rel="preload" as="font" type="font/woff" crossorigin href="https://parswebdesigners.github.io/font/staticfonts/iransansx-regular.woff" />
<link rel="stylesheet" href="https://parswebdesigners.github.io/font/font.css"/>
    <link rel="stylesheet" href="./css/imageSlider.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <header>
      <nav>
        <p><a href="./index.html"><i class="fas fa-home"></i></a></p>
        <p>اجتماعی</p>
        <p>ورزشی</p>
        <p>علمی و فرهنگی</p>
        <p>اقتصادی</p>
        <a href="./gallery.html">گالری</a>
        <a href="./archive.html">آرشیو</a>
      </nav>
    </header>

    <article id="article">
      <section id="thumb">
        <img id="thumb" src="./4.jpg" />
      </section>
      <section id="content">
        <h1>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ?</h1>
        <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
          استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می
          طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
          الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
          صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و
          شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای
          اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
          قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
          با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می
          طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
          الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
          صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و
          شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای
          اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
          قرار گیرد.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
          با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
          ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
          کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی
          در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می
          طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
          الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این
          صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و
          شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای
          اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده
          قرار گیرد.
        </p>
        <div id="tags">
          <p><b>برچسب‌ها:</b></p>
          <span>کلمات</span>
          <span>کلیدی</span>
          <span>مقاله</span>
          <span>جهت</span>
          <span>سئوی</span>
          <span>سایت</span>
        </div>
      </section>
    </article>
    <!-- <section id="share">
      <span>این مطلب رو به اشتراک بذار در</span>
      <img src="telegram.png" alt="" />
      <img src="whatsapp.png" alt="" />
    </section> -->

    
    <aside>
      <p class="title">مرتبط <i class="fas fa-angle-left"></i></p>
      <section id="related">
        <div>
          <div style="background-image:url('./1.jpg');"></div>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی</p>
        </div>
        <div>
          <div style="background-image:url('./2.jpg');"></div>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی</p>
        </div>
        <div>
          <div style="background-image:url('./3.jpg');"></div>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی</p>
        </div>
        <div>
          <div style="background-image:url('./4.jpg');"></div>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی</p>
        </div>
        <div>
          <div style="background-image:url('./5.jpg');"></div>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی</p>
        </div>
        <div>
          <div style="background-image:url('./1.jpg');"></div>
          <p>لورم ایپسوم متن ساختگی با تولید سادگی</p>
        </div>
      </section>
    </aside>
    <br />
    <form id="comment">
      <p><b>نظرات</b></p>
      <br />
      <p>نظر شما:</p>
      <input type="text" placeholder="نام خودت رو بنویس..." id="">
      <input type="email" placeholder="ایمیل معتبر وارد کن..." id="">
      <br><br>
      <textarea placeholder="نظرتو اینجا بنویس..." id="" cols="50" rows="6"></textarea>
      <br><br>
      <button type="submit">ارسال</button>
      <p style="clear: both;"></p>
    </form>
    <section id="comments">
      <p class="commenttxt">
        علی میگه: یه توپ دارم قلقلیه سرخ و سفید و ابیه میزنشمش زمین تخم میکنه هوا نمیدونم تا کجا میره
        <br><span>۹۸/۲/۳ ساعت ۱۵:۳۰</span>
        <div style="clear: both;"></div><br>
      </p>
      <p class="commenttxt">
        علی میگه: یه توپ دارم قلقلیه سرخ و سفید و ابیه میزنشمش زمین تخم میکنه هوا نمیدونم تا کجا میره
        <br><span>۹۸/۲/۳ ساعت ۱۵:۳۰</span>
        <div style="clear: both;"></div><br>
      </p>
      <p class="commenttxt">
        علی میگه: یه توپ دارم قلقلیه سرخ و سفید و ابیه میزنشمش زمین تخم میکنه هوا نمیدونم تا کجا میره
        <br><span>۹۸/۲/۳ ساعت ۱۵:۳۰</span>
        <div style="clear: both;"></div><br>
      </p>
      <p class="commenttxt">
        علی میگه: یه توپ دارم قلقلیه سرخ و سفید و ابیه میزنشمش زمین تخم میکنه هوا نمیدونم تا کجا میره
        <br><span>۹۸/۲/۳ ساعت ۱۵:۳۰</span>
        <div style="clear: both;"></div><br>
      </p>
    </section>

    <footer>تمام قوانین کپی رایت برای این وب پیج محفوظ میباشد.</footer>
  </body>
  <script src="./js/imageSlider.js"></script>
</html>
